/* Map */
#mapControls {
	margin: 0;
	padding: 0;
    height: 100%;
	/*height: 750px;*/
	width: 100%;
}

.esriSimpleSlider {
    display: none;
}

#dateView {
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 999;
}

#now {
    font-size: 4.5em;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: rgba(255, 85, 0, 0.4);
}

img.layerTile {
  animation-duration: 1s;
  animation-name: fadein;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadein;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

g#Earthquakes_472_layer > circle {
    cursor: pointer;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-name: fadeout;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 4s;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: fadeout;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

g#Earthquakes_8860_layer > circle {
  animation-duration: 6s;
  animation-name: fadeinout;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 6s;
  -webkit-animation-name: fadeinout;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}

g#Earthquakes_472_layer > circle:hover {
    transition: fill, fill-opacity, stroke, stroke-opacity, stroke-width 0.5s;
    stroke: #ff1493;
    stroke-width: 4;
    stroke-opacity: 0.7;
    fill: #ff1493;
    fill-opacity: 0.5;
}

g#Earthquakes_472_layer > circle.active-feature {
    transition: fill, fill-opacity, stroke, stroke-opacity, stroke-width 0.5s;
    stroke: #ff1493;
    stroke-width: 4;
    stroke-opacity: 0.7;
    fill: #ff1493;
    fill-opacity: 0.5;
}

/* Animations */

@keyframes size {
  0% {
      r: 0;
  }
  100% {
      r: 30;
  }
}

@-webkit-keyframes size {
  0% {
      r: 0;
  }
  100% {
      r: 30;
  }
}

@keyframes fadeinout {
  0% {
      fill-opacity: 0;
  }
  65% {
      fill-opacity: 1;
  }
  100% {
      fill-opacity: 0;
  }
}

@-webkit-keyframes fadeinout {
  0% {
      fill-opacity: 0;
  }
  65% {
      fill-opacity: 1;
  }
  100% {
      fill-opacity: 0;
  }
}

@keyframes fadeout {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}